@font-face {
	font-family: "dinkiebitmap";
	src: url(assets/DinkieBitmap9px.woff);
}

:root{
	--windowScale: 0.25;
	--pixMult: calc(var(--windowScale) * 0.25vw + var(--windowScale) * 0.75vh)
}

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px;

	font-family: dinkiebitmap;
	background-color: black;
}

img.sharp {


	/*nearest neighbor upscale to keep the crisp pixel art*/
	-ms-interpolation-mode: nearest-neighbor;
	/* Firefox */
	image-rendering: crisp-edges;
	/* Chromium + Safari */
	image-rendering: pixelated;
}

div.window {

	/*nearest neighbor upscale to keep the crisp pixel art*/
	-ms-interpolation-mode: nearest-neighbor;
	/* Firefox */
	image-rendering: crisp-edges;
	/* Chromium + Safari */
	image-rendering: pixelated;


	/*fill screen*/
	width: 100vw;
	height: 100vh;

}

div.windowSlice {
	display: flex;
}

img.ame {

	/* IE, only works on <img> tags */
	-ms-interpolation-mode: nearest-neighbor;
	/* Chromium + Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;


}